/* colors */
.skin-green .main-header .navbar {
  background-color: #1e6a5b;
}

.skin-green .main-header .logo {
  background-color: #1e6a5b;
}

.skin-green .main-header .logo:hover {
  background-color: #1e6a5b;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
  background-color: #c5267a;
}

.box.box-solid.box-success > .box-header {
  background: #1e6a5b;
  background-color: #1e6a5b;
}

.box.box-solid.box-success {
    border: 1px solid #1e6a5b;
}

.skin-green .sidebar-menu > li.active > a, .skin-green .sidebar-menu > li:hover > a {
    color: #c5267a;
    border-left-color: #1e6a5b;
}

a:focus, a:hover {
  color: #c5267a;
}

a {
  color: #1e6a5b;
}

/* fixed header and sidebar */
.main-header {
  position: fixed;
  width: 100%;
}

.sidebar {
  position: fixed;
  width: 230px;
}

.content {
  margin-top: 50px;
}

/* hr color */
hr {
  border-top: 1px solid #1e6a5b;
}

/* validate button color */
#valider{
  color: #ecf0f5; 
  background-color: #222d32; 
  border-color: #222d32; 
  font-size:30px
}

#valider:hover{
  color: #c5267a; 
  background-color: #1e282c; 
  border-color: #1e282c;
}
